body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

.calculator {
    background: #0b0a0a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 250px;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: right;
    border: 1px solid #0e0d0d;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    background-color: #45042a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
